.product {
    height: 32rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.collections {
    padding:3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.collections .kids {
    grid-column: 1 / span 2;
}

.collections img {
    max-width: 100%;
}

.collection {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}

.text {
    color:white;
    font-size: 6rem;
    position: absolute;
    user-select: none;
}