header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  padding-bottom: 2rem;
  border-bottom: 1px solid #3333;
}

header .left {
  width: 100%;
  display: flex;
  align-items: center;
}

header .left a {
  text-decoration: none;
}
header .left a:hover li {
  font-weight: 700;
  text-decoration: underline var(--Orange);
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 3rem;
}

header ul {
  margin-left: 2rem;
  display: flex;
  list-style: none;
}

header li {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  margin-inline: 1rem;
}

header .right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header .cart {
  height: 1.25rem;
}

header .profileImg {
  height: 3rem;
}

.mobile {
  visibility: hidden;
  width: 0;
}

@media (max-width: 1200px) {
  header {
    padding-inline: 2rem;
  }

  header .left img {
    height: 2rem;
  }

  header ul {
    visibility: hidden;
    width: 0;
  }

  header .cart {
    height: 2.5rem;
  }

  .mobile {
    color: var(--Dark-grayish-blue);
    stroke-width: 3;
    visibility: visible;
    width: 2rem;
    height: auto;
    margin-right: 2rem;
  }
}
